.logistics {
    position: relative;
    width: 100%;
    height: 41.5rem;
    
    background-image: url(../../images/logistics/stones.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    box-shadow: inset .625rem 1.25rem .625rem 0 #232320, .625rem -1.25rem .625rem 0 #232320,;   
    box-sizing: border-box;
}
