.title {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 3.375rem;

    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FEFEFD;
    padding: 0;
    margin: 0;
}

.title::before {
    display: inline-block;
    content: "";
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    background-color: #E59456;
    opacity: .7;

    vertical-align: middle;
    margin: 0 .75rem 0 0;
}
