.price-list {
    max-width: 120rem;
    height: 67.5625rem;
    background-image: url(../../images/price-list/backdrop.png);

    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}