.menu__dropdown-content {
    display: none;
    position: absolute;
    text-decoration: none;
    list-style-type: none;
    background-color:  #272725;
}

.menu__dropdown-content li {
    text-align: center;
    padding: 0 .6875rem 0 0;
    font-weight: 400;
    font-size: 14px;
}

.menu__dropdown:hover .menu__dropdown-content {
    display: block;
}

.menu__dropdown-content a:hover {
    color: #E59456;
}