.menu__dropdown-content {
    display: none;
    width: 9.9375rem;
    min-height: 10.875rem;
    position: absolute;
    text-decoration: none;
    background-color: rgba(48, 46, 44, .7);
}

.menu__dropdown-content a {
    text-align: left;
    padding: 0 .6875rem 0 1rem;
    font-weight: 400;
    font-size: 14px;
}

.menu__dropdown:hover .menu__dropdown-content {
    display: flex;
    flex-direction: column;
    gap: .625rem;
    z-index: 10;
}

.menu__dropdown-content a:hover {
    color: #E59456;
}

.menu__dropdown-content a:first-child {
    padding-top: 1.125rem;
}